nav {
  display: flex;
  background-color: #333;

  width: 100%;
  height: 100%;
}

/* Navigation  links */
nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

.carousel {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
}



footer{
  display: flex;

  background-color: grey;
  justify-content: center;

  margin-top: 20px;
}