* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


main {
    flex: 1; /* empuja el footer hacia abajo */
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between; /* uno a la izquierda y otro a la derecha */
    align-items: center;
    padding: 10px 20px;
    background-color: grey;
}

/* Navbar izquierda */
.navbar {
    display: flex;
    gap: 20px;
}

/* Navbar derecha */
.navbar2 {
    display: flex;
    gap: 20px;
}


/* Navigation  links */
nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
}

.modal-content h2 {
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.modal-content button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: grey;
    color: white;
    border: none;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

input.valid{
    border-color: #36cc36;
}
input.invalid{
    border-color: orange;
}
input + p {
    opacity: 0;
    height: 0;
    transition: 0.3s;
}
input.invalid + p{
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}


.carousel {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
}



footer {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}